* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.item {
  width: 500px;
  background: lightblue;
}

img {
  cursor: pointer;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left {
  display: flex;
  gap: 15px;
}