* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background-color: lightblue;
  width: 95%;
  height: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}