* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  padding: 30px;
  z-index: 1000;
  min-width: 1000px;
  max-width: 100vh;
  max-height: 100vh;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.top {
  display: flex;
  justify-content: flex-end;
}

.content {
  display: flex;
  max-height: 500px;
  gap: 15px;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
  text-align: right;
  overflow: hidden;
}

.flex {
  display: flex;
  justify-content: space-around;
  margin: 0 0 30px 0;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 80%;
  padding: 0 10px 0 0;
  overflow: auto;
}

button {
  cursor: pointer;
  border: none;
  font-weight: bolder;
  font-size: 1.5em;
  background-color: white;
  width: 25px;
  height: 25px;
  margin: 0 0 10px 0;
}

img {
  object-fit: contain;
  width: 100%;
  /* height: 500px; */
  height: 100%;
}