* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  padding: 20px 50px;
}

p {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}